/* =========================================================
   Apple Theme Nov 2017
   ========================================================= */
// Edits to themes should be done in _themes.scss. This file is for reference.


$primary-01:        #48316b !default;
$primary-02:        #61407a !default;
$primary-03:        #a885bc !default;
$primary-04:        #51226c !default;
$primary-05:        #481e60 !default;

$secondary-01:      #60b8d1 !default;
$secondary-02:      #7ec5da !default;
$secondary-03:      #cde2e8 !default;
$secondary-04:      #d6e8ec !default;
//$secondary-05:	  (unused)

$tertiary-01:       #a9d85f !default;
$tertiary-02:       #b9df7d !default;
//$tertiary-03:     (unused)
//$tertiary-04:     (unused)
//$tertiary-05:     (unused)

$attention-01:      #ffba15 !default;
$attention-02:      #ffc740 !default;
$attention-03:      #ffdf94 !default;

$urgent-01:         #ff666e !default;
$urgent-02:         #e02630 !default;

$canvas:            #ffffff !default;
$ink:               #333333 !default;
$ink-light:         #7f7f7f !default;
$border:            #989898 !default;
$background:        #ff0000 !default;
$background-light:  #ececec !default;
//$background-lightest: (unused)