/* =========================================================
   Default Theme Nov 2017
   ========================================================= */
// Edits to themes should be done in _themes.scss. This file is for reference.


$primary-01:        #48316b !default; // Early Dawn
$primary-02:        #61407a !default; // Dawn Light
$primary-03:        #a885bc !default; // Dawn
$primary-04:        #51226c !default; // Dusk
$primary-05:        #481e60 !default; // Dusk Dark

$secondary-01:      #60b8d1 !default; // Ocean
$secondary-02:      #7ec5da !default; // Ocean Light
$secondary-03:      #cde2e8 !default; // Sky
$secondary-04:      #d6e8ec !default; // Sky Light
//$secondary-05:	  (unused)

$tertiary-01:       #a9d85f !default; // Grass
$tertiary-02:       #b9df7d !default; // Greener Grass
//$tertiary-03:     (unused)
//$tertiary-04:     (unused)
//$tertiary-05:     (unused)

$attention-01:      #ffba15 !default; // Sunrise
$attention-02:      #ffc740 !default; // Sunrise Light
$attention-03:      #ffdf94 !default; // Sunrise Lightest

$urgent-01:         #ff666e !default; // Golden Hour
$urgent-02:         #e02630 !default; // Blood Moon

$canvas:            #ffffff !default; // White
$ink:               #333333 !default; // Ink
$ink-light:         #7f7f7f !default; // Very Cloudy
$border:            #989898 !default; // Cloudy
$background:        #cccccc !default; // Partly Cloudy
$background-light:  #ececec !default; // Scattered Clouds
//$background-lightest: (unused)