// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Righteous');

@import '_breakpoints';
@import '_mixins';
@import "_themes";


// Layout Variables
$border-radius: 		.2em;
$box-shadow: 			0px 5px 7px 1px rgba(0, 0, 0, 0.1);
$side-padding: 			1em;
$border-width-default:	.15em;
$border-default:		$border-width-default solid;

// Override Fonts
$font-family-sans-serif:  'Raleway', sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-logo:        'Righteous', cursive;

$font-size-base: 14px !default;

$font-weight-bold: 500;
$font-weight-extra-bold: 700;
$font-weight-ultra-bold: 900;

$font-size-large:  	1.2em;
$font-size-medium:   .9em;
$font-size-small:   .85em;
$font-size-xsmall:  .75em;

// Set global options
$enable-shadows:    true;
$enable-gradients:  true;